.title {
    font-family: 'Spirax', cursive;
    font-size: 45px;
}

.listStyle{
    list-style: none;
}

.titles {
    text-align: center;
    font-size:20px;
    font-family: 'Spirax', cursive;
    color:#6C778A;
}

.newOrderCard {
    padding:10px;
}

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

body {
    background-color: #D4D4D4;
}

.buttonStyle {
    background-color: #967F99;
    color:white;
}

span{
    color:#6C778A;
}
